* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
  }

html,
body{
  height: fit-content;
}
// body{
//   min-height: 100%;
//   display: flex;
//   flex-direction: column;
//   margin: 0;
// }

#app {
  position: relative;
  #click{
  font-size: 2rem;
  }
  .size{
    font-size: 25px;
  }
  .navflex{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
  }
  .pos{
    position: absolute;
    top: 0;
    right: 10px;
  }
}
.opacity{
  opacity: 0.5;
}
.bgdark{
  background-color: #292929;
}
.textwhite{
  color: white;
}
// home部分------------------------------------------------------------------------------------------------
#home{
  position: relative;
  background: url(../assets/shoesimg/bg2.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  #zen-preamble {
    background: url(../assets/shoesimg/bg1.png)no-repeat center;
    position: relative;
    // width: 100vw;
    height: 75vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .bg{
      background-color: rgba($color: #fff, $alpha: 0.5);
      box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.3);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 10%;
      margin: auto;
      width: 30%;
      height: 40%;
      transition: .5s;
      h3 {
        font-size: 3rem;
        color: #888;
      }
      &:hover{
        transform: scale(1.1);
        text-decoration: none;
      }
    }
    .bg1{
      background-color: rgba($color: #fff, $alpha: 0.5);
      box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.3);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 10%;
      margin: auto;
      width: 30%;
      height: 40%;
      transition: .5s;
      h3 {
        font-size: 3rem;
        color: #888;
      }
      &:hover{
        transform: scale(1.1);
        text-decoration: none;
      }
    }
  }
}
@media(min-width:768px){
  .bg{
    background-color: rgba($color: #fff, $alpha: 0.5);
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.3);
    position: absolute;
    left: 10%;
    width: 30%;
    height: 40%;
  }
}
@media(max-width:767px){
  .bg{
    background-color: rgba($color: #fff, $alpha: 0.5);
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.3);
    position: absolute;
    left: 10%;
    width: 300px;
    height: 200px;
  }
}

#main #carousel-1{
  width: 100%;
  height: 750px;
  .carousel-item{
    width: 100%;
    height: 750px;
    img{
      object-fit: contain;
    }
  }
}
// @media(min-width:1200px){
//   #main #carousel-1{
//     width: 100%;
//     height: 100vh;
//     .carousel-item{
//       width: 100%;
//       height: 100vh;
//     }
//   }
// }
@media(max-width:768px){
  #main #carousel-1{
    width: 100%;
    height: 100%;
    .carousel-item{
      width: 100%;
      height: 100%;
    }
  }
}
@media(max-width:1024px){
  #main #carousel-1{
    width: 100%;
    height: 100%;
    .carousel-item{
      width: 100%;
      height: 100%;
    }
  }
}

#main #news img{
  height: 200px;
}

#main .marquee{
  display: flex;
  justify-content: center;
  align-items: center;
}

#main .marquee-img{
  width: 200px;
  height: 200px;
}
// home結尾------------------------------------------------------------------------------------------------
// product部分---------------------------------------------------------------------------------------------
@media(max-width:767px){
  #product #main ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
@media(min-width:768px){
  #product #main ul {
    display: flex;
    justify-content: space-evenly;
  }
}

#product{
  img{
    object-fit: cover;
    width: 100%;
  }
  #main{
    .items{
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 90px;
      width: 90px;
      transition: .3s;
      &:hover{
        border-bottom: 2px solid black;
      }
    }
  }
  .imghover{
    cursor: pointer;
    transition: .5s;
    &:hover{
      transform: translateY(-5px);
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.466) ;
    }
  }
}
// product結尾---------------------------------------------------------------------------------------------
// cart部分------------------------------------------------------------------------------------------------
#cart{
  .item_header{
    display: flex;
    margin: 0 auto;
    height: 40px;
    background-color: #fff;
    border-radius: 3px;
    font-size: 1.5rem;
  }
  .item_header div{
    width: 300px;
    color: #888;
    line-height: 40px;
  }
  .item_header .item_detail{
    width: 50%;
  }
  .item_body{
    margin-top: 20px;
    height: 100px;
    align-items: center;
  }
  .item_detail img{
    width: 100px;
    height: 100px;
    border-radius: 3px;
    // float: left;
  }
}
// cart結尾------------------------------------------------------------------------------------------------
// back開始------------------------------------------------------------------------------------------------
#back{
}